@function rem($px){
   @return $px / 46.875 + rem;
}
.clearfix{
  clear: both;
}
#header{
  width: 100%;
  height: rem(268);
  img{
    width: 100%;
    height: 100%;
  }
  .header-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:rem(268);
    background-color: rgba(7,17,27,0.8);
    filter: blur(10px);
    .header-head{
      float: left;
      margin-top: rem(48);
      margin-left: rem(48);
      width: rem(128);
      height: rem(128);
      border-radius: 4px;
      background-color: red;
    }
    .header-title{
      float: left;
      margin-left:rem(32);
      margin-top: rem(52);
      height: rem(120);
      width: rem(380);
      .header-title-d1{
        width: 100%;
        height: rem(36);
        .header-title-sp1{
          display: inline-block;
          width: rem(60);
          float: left;
          height: rem(36);
          background: url("../img/brand@2x.png")  no-repeat;
          background-size: 100% 100%;
        }
        .header-title-sp2{
          display: inline-block;
          float: left;
          font-size: rem(32);
          margin-left: rem(12);
          color: white;
          font-weight: bold;
          line-height: rem(32);
        }
      }
      .header-title-d2{
        font-size: rem(24);
        color: rgb(255,255,255);
        font-weight: 200;
        line-height: rem(24);
        margin-top: rem(16);
      }
      .header-title-d3{
        width: 100%;
        height: rem(24);
        margin-top: rem(20);
        .header-title-sp3{
          display: inline-block;
          width: rem(24);
          float: left;
          height: rem(24);
          background: url("../img/decrease_1@2x.png")  no-repeat;
          background-size: 100% 100%;
        }
        .header-title-sp4{
          display: inline-block;
          float: left;
          font-size: rem(24);
          margin-left: rem(8);
          color: white;
          font-weight: 200;
          line-height: rem(24);
        }
      }
    }
    .header-btn{
      float: right;
      margin-right: rem(24);
      margin-top: rem(134);
      padding: rem(14) rem(16);
      background-color: rgba(0,0,0,0.2);
      font-size: rem(20);
      color: white;
      font-weight: 200;
      line-height: rem(24);
      border-radius:rem(30);
    }
    .header-notice{
      width: 100%;
      height: rem(56);
      background-color: rgba(7,17,27,0.2);
      margin-top: rem(27);
      .header-title-sp5{
        display: inline-block;
        width: rem(44);
        float: left;
        height: rem(24);
        background: url("../img/bulletin@2x.png")  no-repeat;
        background-size: 100% 100%;
        margin-left: rem(24);
        margin-top: rem(16);
      }
      .header-title-sp6{
        display: inline-block;
        float: left;
        font-size: rem(22);
        margin-left: rem(8);
        color: white;
        font-weight: 200;
        line-height: rem(56);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: rem(620);
      }
      .header-title-sp7{
        display: inline-block;
        float: right;
        font-size: rem(20);
        margin-right: rem(20);
        margin-left: rem(8);
        color: white;
        font-weight: 200;
        line-height: rem(56);
      }
    }
  }
}
#nav{
  width: 100%;
  height: rem(80);
  border-bottom: 2px solid rgba(7,17,27,0.1);
  div{
    width: 33.33%;
    font-size: rem(28);
    float: left;
    text-align: center;
    color: rgb(77,85,93);
    line-height: rem(80);
  }
}
#container{
  .container-left{
    float: left;
    width: rem(160);
    .con-sidebar{
      height: rem(108);
      width: rem(160);
      background-color: #f3f5f7;
       .sidebar-within{
        height: rem(108);
         width: rem(112);
         border-bottom: 1px solid rgba(7,17,27,0.1);
         margin-left: rem(24);
         font-size: rem(24);
         color: #07111b;
         display: inline-block;
         line-height: rem(108);
         span{
           width: rem(24);
           height: rem(24);
           display: inline-block;
           background: url("../img/special_3@2x.png");
           background-size: 100% 100%;
         }
       }
      .single{
        line-height: rem(28);
        margin-top: rem(30);
        border: none;
      }
    }
  }
  .container-right{
    float: left;
    width: rem(590);
    .con-rit-title{
      height: rem(52);
      background-color: #f3f5f7;
      line-height: rem(52);
      font-size: rem(24);
      color: rgb(147,153,159);
      border-left:4px solid #d9dde1;
      padding-left: rem(28);
    }
    .con-rit-food{
      height: rem(205);
      .food-img{
        float: left;
        margin-top: rem(36);
        margin-left: rem(36);
        width: rem(114);
        height: rem(114);
        background-color: red;
      }
      .food-details{
        float: left;
        .food-details-d1{
          font-size: rem(28);
          color: rgb(1,17,27);
          line-height: rem(28);
          margin-top: rem(40);
          margin-left: rem(20);
        }
        .food-details-d2{
          font-size: rem(22);
          color: rgb(147,153,159);
          line-height: rem(22);
          margin-top: rem(16);
          margin-left: rem(20);
        }
        .food-details-d3{
           font-size: rem(22);
           color: rgb(147,153,159);
           line-height: rem(22);
           margin-top: rem(16);
           margin-left: rem(20);
          food-details-d3-sp2{
            margin-left: rem(24);
          }
         }
        .food-details-d4{
           margin-left: rem(20);
          .food-details-d4-sp1{
            font-size: rem(28);
            color: #f01414;
            font-weight: 700;
          }
          .food-details-d4-sp2{
            font-size: rem(24);
            color: rgb(147,153,159);
            font-weight: 700;
          }
          .food-details-d4-sp3{
            width: rem(40);
            height: rem(40);
            display: inline-block;
            background-image: url("../img/jian.png");
            background-size: 100% 100%;
            vertical-align: middle;
            margin-left: rem(70);
          }
          .food-details-d4-sp4{
            font-size: rem(24);
            color: rgb(147,153,159);
            font-weight: 700;
            display: inline-block;
          }
          .food-details-d4-sp5{
            width: rem(40);
            height: rem(40);
            display: inline-block;
            background-image: url("../img/jia.png");
            background-size: 100% 100%;
            vertical-align: middle;
          }
         }
      }
    }
  }
}
#footer{
   height: rem(96);
  background-color: #141d27;
  position: relative;
 }
